body {
    background-color: #982121;
  }
  
  .header {
    margin: auto;
    padding: 5%;
    background-color: #ff611d;
    text-align: center;
    width: 75%;
  }
  
  .content {
    border: 3px;
    border-color: #ff611d;
    margin: auto;
    margin-bottom: 5%;
    padding: 5%;
    background-image: url("../img/bg.png") ;
    background-size: cover;
    text-align: center;
    width: 75%;
    align-content: center;
     font-family: sans-serif;
  
  }
  
  .heading {
   font-family: sans-serif;
  
  }
  
  .form-login {
    max-width: 50%;
    margin: auto;
    border: 2px solid;
    background-color: white;
    border-color:#e32929;
  }
  
  .form-signup {
    max-width: 50%;
    margin: auto;
    border: 2px solid;
    background-color: white;
    border-color:#e32929;
  }
  .form-group {
    padding: 2%;
    background-color: #ffb80b;
    margin: auto;
  }
  .form-group2 {
    padding: 2%;
    background-color: #ffffff;
    margin: auto;
  }
  .server-error{
    color: #FF0000;
    font-size: small;
    font-weight: bold;
  }
  .form-control{
    margin: auto;
    width: 50%;
  }
  .form-control2{
    margin: auto;
    width: 90%;
    padding: inherit;
  }
  .submit {
    color: #ffffff;
    padding: 2%;
    background-color: #e32929;
  }
  
  
  .heading-main {
    text-align: center;
    background-color: #ff611d;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  .btn {
    background-color: #ffb80b;
    padding: 3px;
    border-radius: 4px;
    margin: 3px;
    list-style-type: none;
  
  }
  
  a:hover{
    background-color: #982121;
    color: white;
  }
  
  .logout {
    float: right;
  }
  .gap {
    background-color: #ffb80b;
    padding: 3px;
    margin: auto;
  }
  .container {
    background-color: white;
    margin: auto;
    overflow: auto;
  }
  
  .column-wide{
    background-color: white;
    margin: 2%;
    float: left;
    width: 100%;
  }
  .column-main{
    background-color: white;
    margin: 1%;
    float: left;
    width: 67%;
    padding: inherit;
  }
  
  .column-small{
    background-color: white;
    margin: 1%;
    float: left;
    width: 28%;
    padding: inherit;
    border-right: 2px solid #ffb80b;
  }
  .menu-item{
    border-bottom: 2px solid #ffb80b;
    padding: inherit;
    overflow: auto;
  }

  .menu-item-button {
  float: right;
  margin: 5px;
  padding: 15px;
  border-radius: 10%;
  background-color: #ffb80b;
  color: white;
  text-decoration: none;
  
  }

  button:focus {
      outline:0px;
    }
  .menu-item-img {
    float: left;
    margin: 5px;
  }
  
  .order-status {
    padding: 2px;
    font-weight: bold;
    color: white;
  }
  .confirmed {
    background-color: #ffb80b;
  }
  .completed {
    background-color: green;
  }
  .rejected {
    background-color: red;
  }
  .created {
    background-color: #982121;
  }
  ul {
    list-style-type: none;
  }
  
  @media screen and (max-width: 600px) {
      .column-main, .column-wide, .column-small {
          width: 100%;
      }
  }
